<h1>APP COMPNENT PAGE</h1>
<!--<FolderListComponent></FolderListComponent>-->

<a uiSref="hello" uiSrefActive="active">Hello</a>
<a uiSref="about" uiSrefActive="active">About</a>

<div class="test-boarder">
  <ui-view name="folderlist"></ui-view>
  <!--<folderlist></folderlist>-->
</div>

<ui-view></ui-view>


<!--
mymessages.component.ts
<div class="my-messages">

  &lt;!&ndash; Show message folders &ndash;&gt;
  <app-folder-list [folders]="folders"></app-folder-list>

  &lt;!&ndash; A named view for the list of messages in this folder.  This will be  filled in by the 'mymessages.messagelist' child state &ndash;&gt;
  <ui-view name="messagelist" class="messagelist"></ui-view>

</div>

&lt;!&ndash; A named ui-view for a message's contents.  The 'mymessages.messagelist.message' grandchild state plugs into this ui-view &ndash;&gt;
<ui-view name="messagecontent"></ui-view>
-->
